#Hero {
  margin-left: 3rem;
  padding: 1rem 2.5rem 9rem;
}
.Hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.Caption {
  position: relative;
  top: 2rem;
}
.Caption p {
  margin: 1rem 0;
}

#Hero-right img {
  width: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  max-width: 555px;
}
